.keyboard-button {
  background-color: gray;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  height: 35px;
  width: 40px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  &.pressed {
    background-color: black;
    color: white;
    cursor: not-allowed;
  }
}

.keyboard-button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 400px) {
  .keyboard-button {
    height: 25px;
    width: 30px;
    font-size: 0.9rem;
  }
}
